--extra-index-url https://download.pytorch.org/whl/cpu
Flask==3.0.3
bcrypt>=4.1.2
PyJWT>=2.8.0
flask-cors==4.0.1
transformers>=4.40.2
torch==2.6.0+cpu
torchvision==0.21.0+cpu
Pillow>=10.3.0
gtts>=2.5.1
pymongo>=4.7.2
python-dotenv>=1.0.1
sentencepiece>=0.2.0
sacremoses>=0.0.53
gunicorn>=22.0.0
accelerate>=0.26.0
